@inherits LayoutComponentBase

<PageTitle>Login - BlazorTemplate</PageTitle>

<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                @Body
            </div>
        </div>
    </div>
</body>


@code {

}
