@inherits LayoutComponentBase

<PageTitle>Blazor Template</PageTitle>

<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <NavMenu />
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <HeaderSection />
    <!-- /#header -->
    <!-- Content -->
    @Body
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <FooterSection />
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->
